body {
  font-family: Arial;
  padding-left: 10em;
  padding-right: 10em;
}

header {

}

h1 {
   padding:10px;
   font-size: 40px;
   text-align: center;
}

#content {

}

h2 {
  text-align: center;

}

p {

}